body {
    background-color: white;
  }

h1 {
    font-family: "Calibri";
    font-size: 200px;
    position: relative;
    text-align: center;
    color: white;
    background: url("https://i.etsystatic.com/15011367/r/il/6e81bc/2260991376/il_fullxfull.2260991376_r6zl.jpg");
    background-size: 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pattern 20s linear infinite;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.enterButton {
    background-color: #ff5e00;
    border: 5px solid;
    border-radius: 10px;
    border-color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
  }

.credits {
    text-align: center;
    font-size: 10px;
    margin-top: 100px;
  }

#clickButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    font-family: 'Calibri';
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 30px;
  }

#homeLogo {
    width: 50px;
    height: auto;
    margin-left: 10px;
  }

@keyframes pattern {
    0%      {background-position: center 0;}
    50%     {background-position: center 100%;}
    100%    {background-position: center 0;}
  }
