body {
    background-color: rgb(39, 39, 39);
    padding-bottom: 50vw;
    position: absolute;
    width: 100vw;
    overflow: hidden;
}

h1 {
    font-family: "Calibri";
    font-size: 10vw;
    position: relative;
    text-align: center;
    color: white;
    background: url("https://i.etsystatic.com/15011367/r/il/6e81bc/2260991376/il_fullxfull.2260991376_r6zl.jpg");
    background-size: 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pattern 20s ease-in-out 1s infinite;
    margin-bottom: 0vw;
    margin-top: 0vw;
}

.credits {
    text-align: center;
    font-size: 2vw;
    margin-top: 5vw;
}

@keyframes pattern {
    0% {
        background-position: center 0;
    }

    50% {
        background-position: center 100%;
    }

    100% {
        background-position: center 0;
    }
}

.pages ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

.pages * {
    color: rgb(255, 255, 255);
    font-family: 'Calibri';
    list-style-type: none;
    text-decoration: none;
}

.pages {
    border-radius: 1vw;
    border: 0.2vw solid;
    border-color: black;
    margin: 0 auto;
    width: 65vw;
    padding-left: 0vw;
    padding-right: 0vw;
    left: 0vw;
    right: 0vw;
    background-color: #ff5e00;
    background: url("https://i.etsystatic.com/15011367/r/il/6e81bc/2260991376/il_fullxfull.2260991376_r6zl.jpg");
    background-size: 20%;
    animation: pattern 20s ease-in-out 1s infinite;
}

.pages li {
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 1vw;
    font-weight: 900;
}

.hover:hover {
    transform: scale(1.5);
    transition: transform 0.23s ease-in;
}

.hover:not(:hover) {
    transform: scale(1);
    transition: transform 0.23s ease-in;
}

.bottom {
    font-weight: 900;
    font-size: 1vw;
    font-family: 'Calibri';
    color: white;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 1vw;
}

#ghLogo,
#gmailLogo {
    width: 1vw;
    height: auto;
    display: inline;
    vertical-align: middle;
    margin-left: 0.1vw;
}

#email,
#ghUser {
    text-decoration: none;
    color: white;
}

#email:hover,
#ghUser:hover {
    color: grey;
    transition: color 0.5s;
}

#email:not(:hover),
#ghUser:not(:hover) {
    color: white;
    transition: color 0.5s;
}

footer {
    position: absolute;
    width: 100vw;
    bottom: 0vw;
    height: 0vw;
}

img {
    width: 2vw;
    height: auto;
}

.prSlot,
.bengals {
    text-align: center;
    width: 60%;
    height: 3.5vw;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-left: 3vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 0.5vw solid;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 10vw;
    border-color: black;
    overflow: hidden;
}

.bengals {
    width: 60%;
    margin-left: 0;
    padding-left: 0;
}

.powerRankingsSection,
.middleSection,
.rightSection {
    margin-top: 1vw;
}

.sideColor,
.sideColor2 {
    height: 10vw;
    width: 2vw;
    overflow: hidden;
}

.prSlot ul,
.bengals ul {
    margin-right: 0.5vw;
    margin-left: 0vw;
    text-decoration: none;
    list-style: none;
    font-family: 'Calibri';
    font-weight: 900;
}

.secondCol {
    vertical-align: middle;
    text-align: left;
    margin-left: 0vw;
    padding-left: 0.2vw;
}

.firstCol,
.change {
    font-size: 0.7vw;
}

.record,
.rankWord {
    font-size: 0.7vw;
    color: gray;
}

.teamLogo {
    height: 4vw;
    width: auto;
}

.rank {
    font-size: 1.2vw;
}

.mainBody {
    display: inline-block;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-color: none;
}

.powerRankingsSection {
    float: left;
    width: 33.33%;
    background-color: none;
}

.powerRankingsSection .prSlot {
    margin-left: 30%;
}

.prHeader {
    text-align: center;
    margin-left: 40%;
    padding-left: 43%;
    margin-bottom: 2.3%;
    margin-right: 20%;
    padding: 0;
}

.confHeader {
    text-align: center;
    margin-right: 37%;
    margin-left: 14%;
    margin-bottom: 0.8%;
}

.standingHeader {
    text-align: center;
    margin-bottom: 2.3%;
    margin-left: 25%;
    margin-right: 25%;
}

.prHeader,
.confHeader,
.standingHeader {
    font-family: 'Calibri';
    font-weight: 900;
    background-color: white;
    border: .2vw solid;
    border-color: black;
    border-radius: 1vw;
}

.fillerOne,
.fillerTwo {
    width: 10%;
}

.middleSection {
    width: 33.33%;
    float: left;
    background-color: none;
}

.middleSection .bengals {
    margin-left: 20%;
}

.rightSection {
    float: left;
    text-align: center;
    width: 33.33%;
    background-color: none;
}

.rightSection .prSlot {
    float: left;
    text-align: center;
    margin-right: 30%;
    padding-right: 0;
}

.leagueLogo {
    text-align: end;
    position: absolute;
    margin-left: 2.33%;
    width: 1.5%;
    height: auto;
}

.nflPrQuote {
    text-align: center;
    font-family: 'Calibri';
    color: grey;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1vw;
}

#quoteCaption {
    text-align: center;
    font-family: 'Calibri';
    color: grey;
    font-weight: 900;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw;
}

.weekHighlights {
    text-align: center;
    padding-top: 1vw;
    border-collapse: collapse;
}

#highlightVideo {
    border: .2vw solid;
    border-color: black;
    border-radius: 2vw;
    border-collapse: collapse;
}

#highlightTitle {
    padding-top: 2vw;
    text-align: center;
    font-family: 'Calibri';
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-bottom: 0;
    border: .2vw solid;
    border-bottom: 0;
    border-color: black;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    margin: 0;
    padding: 0;
    margin-left: 25%;
    margin-right: 25%;
}
